@page "/posts"
@attribute [Authorize]
@inject IPostService PostService
@inject NavigationManager Nav

<h3>Posts</h3>

@if (posts == null)
{
    <p>Loading...</p>
}
else if (!posts.Any())
{
    <p>No posts yet.</p>
}
else
{
    <ul class="list-group">
        @foreach (var post in posts)
        {
            <div>
                <h4>@post.Title</h4>
                <p>@post.Body</p>
                <p><i>Author: @post.UserName (@post.UserId)</i></p>
                <a href="@($"/posts/{post.Id}")">Open</a>
            </div>
        }
    </ul>
}

@code {
    private ICollection<PostDto>? posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await PostService.GetAllAsync();
    }
}